body{
    font-family: Arial, Helvetica, sans-serif;
    background:grey;
    text-align: center;
    margin: 0;
}

.gradient{
    background-image: linear-gradient(white,white,grey, grey);
}

.menu-topo{
    display: inline-block;
    width: 100%;
    height: 200px;
    background: #BBBBBB;
    
}

.logo-topo{
    float: left;
    margin-left: 300px;
    height: 200px;
}

.menu-topo nav ul{
    text-align: right;
    margin: 100px 300px 0 0;
}

.menu-topo nav li{
    display: inline-block;
    list-style: none;
    margin: 10px;

}

.menu-topo nav a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 18px;
}

.menu-topo nav a:hover{
    color: rgba(17, 16, 16, 0.466);
    transition: linear 0.2s;
}

.banner img{
    width: 100%;
    height: 450px;
}

.sobre-a-barbearia{
    margin: 0 200px;
    padding: 20px;
}

.utensilios{
    float: left;
    height: 150px;
}

.sobre-a-barbearia p{
    font-size: 16px;
    text-align: left;
    margin-left: 170px;
    
}

.sobre-a-barbearia h2{
    font-size: 35px;
}

.nosso-estabelecimento{
    
    margin: 0 200px;
}

.nosso-estabelecimento h2{
    font-size: 35px;
}

.beneficios ul{
    display: inline-block;
    text-align: left;
    margin-left: 180px;
    margin-right: -400px;   
}

.img-beneficios{
    display: block;  
    margin: 0 220px;
    box-shadow: 7px 7px 7px black;
    float: right;
    height: 200px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.video{
display: inline-block;    
margin: 0 200px;

}

.rodape{
    background-image: url(/img/bg.jpg);
    width: 100%;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    color: white;  
}

.logo-rodape{
    margin: auto;
    background-position: center;
}